@font-face {
  font-family: 'Nunito-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  font-family: 'Nunito-Regular';
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
  width: 100%;
}

.sidebar-visible .main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 768px) {
  .sidebar-visible .main-content {
    margin-left: 280px;
    width: calc(100% - 280px);
  }
}

.main-wrapper {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}
#logo-div {
  display: flex;
  z-index: 4;
  top: 5dvh;
  left: 5dvh;
  position: absolute;
}
#logo-div h1 {
  font-size: 2rem;
  margin-top: 3.3dvh;
  margin-left: 1dvw;
}
#right-div {
  display: flex;
  background-color: #1c2143;
  width: 50dvw;
  height: 100%;
  place-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
}
#login-image {
  width: 40%;
  max-width: 700px;
  margin-bottom: 3.6rem;
}
#right-div-h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#right-div-h3 {
  font-size: 0.8rem;
  font-weight: lighter;
}

#left-div {
  display: flex;
  flex-direction: column;
  width: 50dvw;
  height: 100%;
  overflow-y: auto;
  /* background-color: rgba(208, 243, 243, 0.482); */
  justify-content: center;
  align-items: center;
}
#prompt-div {
  display: flex;
  flex-direction: column;
  width: 30dvw;
  padding-left: 3rem;
  padding-top: 6rem;
  height: 56vh;
  /* background-color: beige; */
}
#prompt-div-login {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
#request-email-form input {
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 0.8rem;
  margin-bottom: 1.9rem;
  width: 25dvw;
  border-radius: 7px;
  border: 1px solid grey;
}
#login-form input[type="checkbox"] {
  width: 1rem;
  margin: 0px 0.4rem 0.8rem 0.2rem;
  padding: 0;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.6);
  /* IE */
  -moz-transform: scale(1.6);
  /* FF */
  -webkit-transform: scale(1.6);
  /* Safari and Chrome */
  -o-transform: scale(1.6);
  /* Opera */
  transform: scale(1.6);
  padding: 10px;
}
.checkmark {
  background-color: #eee;
}
#update-pass-btn {
  width: 26.8dvw !important;
  background-color: #1c2143 !important;
  color: #f5f5f5 !important;
  border-radius: 17px !important;
}
#update-pass-btn:hover {
  transition: 200ms;
  border-color: #1c2143;
  outline: none;
  box-shadow: 0 0 6px rgba(28, 33, 67, 0.4);
  border-radius: 10px !important;
}
input[type="button"]:hover {
  cursor: pointer;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
/* Hover effect */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
select:hover {
  border-color: #1c2143;
  box-shadow: 0 0 5px rgba(28, 33, 67, 0.2);
}

/* Focus effect */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #1c2143;
  outline: none;
  box-shadow: 0 0 6px rgba(28, 33, 67, 0.4);
}

.send-email-btn {
  font-size: 0.8rem;
  border: 1px solid #1c2143;
  background-color: #f4f4f4;
  color: #1c2143;
  padding: 1dvh 1.2dvw 1dvh 1.2dvw;
  border-radius: 12px;
  margin-left: 19rem;
  box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
}
.verify-OTP-btn {
  font-size: 0.8rem;
  border: 1px solid #1c2143;
  background-color: #f4f4f4;
  color: #1c2143;
  padding: 1dvh 1.2dvw 1dvh 1.2dvw;
  border-radius: 12px;
  margin-left: 20rem;
  box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 23px -13px rgba(0, 0, 0, 0.75);
}
.send-email-btn:hover {
  cursor: pointer;
  transition: 250ms;
  background-color: #1c2143;
  color: #f4f4f4;
  border: 1px solid #808080;
  box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
}
.verify-OTP-btn:hover {
  cursor: pointer;
  transition: 250ms;
  background-color: #1c2143;
  color: #f4f4f4;
  border: 1px solid #808080;
  box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 23px -10px rgba(0, 0, 0, 0.75);
}
